form {
    display: flex;
    flex-flow: column wrap;
    margin-left: 30%;
    margin-right: 30%;
}

input {
    display: block;
    background-color: rgb(45, 45, 45);
	color: white;
	border: none;
}

button {
    background-color: rgb(45, 45, 45);
	color: white;
	border: none;
}

select {
    background-color: rgb(45, 45, 45);
	color: white;
	border: none;
}